.second-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
    
    /* background-color: red; */
}
.collection-part{
    /* margin-bottom: 20rem; */
    width: 74vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: red; */
    /* width: 100%; */
    height: 180px;

}
.collection-containt{
    width: 100%;
    /* height: 200px; */
    /* margin-top: 8rem; */
}
.collection-containt h1{
    font-size: 3.6rem;
    opacity: 0.88;
    margin-bottom: 1rem;
   
}
.collection-containt p{
    font-weight: 400;
    font-size: 1.8rem;
    /* margin-bottom: 10rem; */
}
.cardbox-coll{
    background-color: rebeccapurple;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,1fr);
    /* margin-top: 8rem; */
}
#collecImage{
    width: 100%;
    height: 320px;
}
.boxlist{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 74vw;
    /* background-color: red; */
    margin: auto;
    /* margin-top: 4rem; */
    height: 26rem;
    border-radius: 10px;

}
.parent-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,1fr);
    /* width: 100vw; */
    width: 100%;
    height: 74%;
    gap: 1rem;
}
.fistcard1{
    /* border-radius: 10px; */
    position: relative;
    /* overflow-x: vi; */
    margin-top: -2rem;
}
.imagecardfist{
    width: 100%;
    height: 99%;
    border-radius: 10px;
    /* height: 100vh ; */

}
.cardpara{
    position: absolute;
    bottom: 0px;
    color: rgb(255, 255, 255);
    padding-left: 1rem;
    font-weight: 400;
    font-size: 1.8rem;
    margin-bottom: 0.6rem;
}
.cardpara  p{
    line-height: 1.6rem;
    font-size: 1.4rem;
    font-weight: 400;



}


/* POPULAR STYLING START */
.popular{
    width: 74vw;
    margin: auto;
    margin-top: 4rem;
}
.popular h1{
    color: rgb(54, 54, 54);
    font-weight: 400;
    font-size: 3.2rem;
}
.box-create-part{
    /* background-color: red; */
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 2rem;
    
}
.rectangle-box{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 2rem;
    height: 80px;
    border-radius: 4px;
    border: solid 2px rgba(0, 0, 0, 0.205);
    /* font-size: 2rem; */
    opacity: 0.80;
    margin-right: 10px;
    cursor: pointer;
}
.rectangle-box p{
    padding-left: 14px;
    font-size: 1.4rem;
    margin-top: -6px;
    
}
.rectangle-box h1{
    font-size: 1.6rem;
    margin-left: 10px;
    margin-top: 0.6rem;
}